[project]
	description = Windows 10 IoT Core Samples
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nicolas guibourge (nicogbg)
[access "refs/for/refs/*"]
	read = group user/nicolas guibourge (nicogbg)
	push = group user/nicolas guibourge (nicogbg)
	label-Code-Review = -2..+2 group user/nicolas guibourge (nicogbg)
	label-Verified = -1..+1 group user/nicolas guibourge (nicogbg)
	rebase = group user/nicolas guibourge (nicogbg)
	removeReviewer = group user/nicolas guibourge (nicogbg)
	submit = group user/nicolas guibourge (nicogbg)
[access "refs/heads/*"]
	read = group user/nicolas guibourge (nicogbg)
	create = group user/nicolas guibourge (nicogbg)
	push = +force group user/nicolas guibourge (nicogbg)
	pushMerge = group user/nicolas guibourge (nicogbg)
[access "refs/tags/*"]
	push = +force group user/nicolas guibourge (nicogbg)
	pushTag = group user/nicolas guibourge (nicogbg)
	pushSignedTag = group user/nicolas guibourge (nicogbg)
